$primary-color = #3b95fb
$black-color-a = rgba(7,17,27,.9)
$blue-color = #26a2ff
$gray-bg = #f6f6f6
$gray-font = #787878
$white-font = #eee

html,body
    font-family "Source Sans Pro", "Helvetica Neue", Arial, sans-serif